<div class="chips-container">
  <ion-chip class="chip-no-action" color="primary">TOTALES
    <ion-badge color="primary">{{ total }}</ion-badge>
  </ion-chip>
  <ion-chip class="chip-no-action" color="secondary">EN ESTUDIO
    <ion-badge color="secondary">{{ enEstudio }}</ion-badge>
  </ion-chip>
  <ion-chip class="chip-no-action" color="tertiary">PRESENTADAS
    <ion-badge color="tertiary">{{ presentadas }}</ion-badge>
  </ion-chip>
  <ion-chip class="chip-no-action" color="success">ADJUDICADAS
    <ion-badge color="success">{{ adjudicadas }}</ion-badge>
  </ion-chip>
  <ion-chip class="chip-no-action" color="danger">NO ADJUDICADAS
    <ion-badge color="danger">{{ noAdjudicadas }}</ion-badge>
  </ion-chip>
  <ion-chip class="chip-no-action" color="warning">EN RESOLUCIÓN
    <ion-badge color="warning">{{ enResolucion }}</ion-badge>
  </ion-chip>
  <ion-chip class="chip-no-action" color="dark">DESESTIMADAS
    <ion-badge color="dark">{{ desestimadas }}</ion-badge>
  </ion-chip>
</div>