ion-popover.custom-popover::part(content) {
  position: fixed;
  top: 30%;
  left: 42.5%;
  transform: translate(-50%, -50%);
}

ion-chip.date-chip {
  border-radius: 8px !important;
  --background: #ececec;
  --color: #333;
  font-weight: bold;
}

ion-chip.date-chip::part(text) {
  font-weight: bold;
}

.label-name {
  font-weight: bold;
}

.blue-line-item {
  /* Agrega una línea inferior azul de 2px y extiende el ancho */
  border-bottom: 2px solid blue;
  width: 100%; /* o el ancho que desees */
  /* Opcional: para centrar el item o definir un ancho máximo */
  margin: 0 auto;
}

.bold-label {
  font-weight: bold;
  font-size: 25px;
}
